.container{
    /* position: fixed;
    width: 100vw;height: 100vh;
    top: 0;
    left: 0;
    z-index: 99; */
}
body{
    width: 100vw;
    height: 100vh;
}
.menu{
    position: fixed;
    bottom: 40px;
    /* width: 80%; */
    /* height: 200px; */
    background: rgba(255, 255, 255, 0.4);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 6px 20px;
    backdrop-filter: blur(2.5px);
    z-index: 98;
}
.button{
    padding: 12px 16px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 12px;
    margin-left: 60px;
    background-image: linear-gradient(to bottom right, #fcd34d, #ef4444, #ec4899);

    color:white;
    font-weight: bold;
}
.menu-list{
    position: fixed;
    width: 60%;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    top: 5%;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 6px;
    align-items: center;
    gap: 6px;
    z-index: 999;
  overflow-y: auto!important;
  overflow-x: auto;
  overscroll-behavior-x: auto;


}
/* .tab-h{

    flex: auto;
    display: flex;
    align-self: start;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
    position: relative;
    height: 100%;
    text-align: center;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.7);
    flex-shrink: 0;
    padding-left: 12px;
    padding-right: 12px;

}
.tab-h:hover{
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);

}
.tab-h>h3 {
    padding: 0;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: black;

  } */

  .tab-h.active{
    /* background: linear-gradient(to bottom right, #EF4765, #FF9A5A); */
  background-color: #e8cca8;
   font-weight: 800;
   border-radius: 12px;

    
  }
  #render {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    /* z-index: 9999; */
    touch-action: none;
  }

  #render iframe,
  #render div {
    width: 100%;
    height: 100%;
    border: 0;
    /* z-index: 9999; */

  }
  @media screen and (max-width: 1396px) {
   
    
  }

  @media screen and (max-width: 1024px) {
    .menu-list{
        width: 65%;
    }
    
  }
  @media screen and (max-width: 796px) {
    .menu-list{
        width: 70%;
    }
    .menu-list{
        width: 90%;
        height: 40px;
    }
    
  }
  @media screen and (max-width: 524px) {
    .menu-list{
        width: 90%;
        height: 30px;
    }

    .tab-h>h3{
        font-size: 12px;
        line-height: 14px;
    }
    .menu .menu-logo img{
        height: 30px;
    }

    .button{
        padding: 8px 12px;
        font-size: 10px;
        /* width: 80px; */
        margin-left: 16px;
    }
  }
  @media screen and (max-width: 396px) {
    .menu-list{
        width: 95%;
    }
    .tab-h>h3{
        font-size: 10px;
        line-height: 12px;

    }
    
  }
  .dropdown-menu{
    width: 300px;
    background: #3b6274;
    position: fixed;
    bottom: 7%;
    z-index: 99999;
    border-radius: 5px;
    right: 0%;
    padding: 0 0 0 20px;
    /* padding: 20px; */
    /* opacity: 0.8; */
}
.dropdown-menu .sub-menu{
    background: transparent;
    display: none;
    padding: 0;
}
.dropdown-menu .sub-menu>li{
  padding: 12px;
  display: flex;
  align-items: center;
  

}
.dropdown-menu .sub-menu>li.active{
  font-weight: 800;
  

}
.dropdown-menu .sub-menu>li.active img{
  border: 2px solid rgba(42, 194, 186, 0.795);
  

}
.dropdown-menu .sub-menu>li img{
  width: 50px;
  border-radius: 5px;
  margin-right: 10px;
  

}
.dropdown-menu .sub-menu>li svg{
  width: 20px;
  margin-left: auto;
}
.dropdown-menu .sub-menu>li:last-child{
  /* padding-bottom: 0; */
}
.dropdown-menu li {
    position: relative;
    cursor: pointer;
    color: White;
    list-style: none;
    padding: 20px 12px;
    /* margin: 0; */
}
.dropdown-menu li p {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 18px;
}
.dropdown-menu li>p span {
display: block;
}
.dropdown-menu li>p i {
  padding: 16px 0 10px;
}
.dropdown-menu a{
    display: block;
    padding: 10px 10px;
    color: #c3ccce;
    border-bottom: 1px solid #3c3b3b;
}
.dropdown-menu a:hover, .dropdown-menu .sub-menu a:hover{
    color: #e1f2e3;
}
.dropdown-menu .sub-menu a{
    padding-left: 28px;
    color: #9b9b9b;
}
.icon-menu{
    color: #f5f5f5;
    position: absolute;
    top: 8px;
    right: 10px;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
}
.prev-scene{
  position: fixed;
  z-index: 999999;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none;
}

.prev-scene:hover{
  opacity: 0.8;
}
.prev-scene svg{
  width: 40px;
  height: 40px;
}
.next-scene{
  position: fixed;
  z-index: 999999;
  top: 5%;
  right: 5%;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: none;
}
.next-scene:hover{
  opacity: 0.8;
}
.next-scene svg{
  width: 40px;
  height: 40px;
}
.close_menu{
  position: absolute;
  left: -20px;
  top: 0%;
  transform: translateY(-50%);
  width: 50px;
  border-radius: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.open_menu{
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 99999;
  cursor: pointer;
  width: 50px;
  border-radius: 10px;
  border: none;
  display: none;
  background-color: #467184;
}
.category {
  /* width: 200px; */
  position: fixed;
  top: 10%;
  left: 1%;
  z-index: 9999;
  background-color: #467184;
  padding: 0;
  border-radius: 10px;
  opacity: 0.8;
}
.category li {
  display: flex;
  align-items: center;
  color: white;
  padding: 12px;
}
.category li svg {
width: 20px;
margin-right: 20px;
}
 